<h1>Car Details</h1>

<p>This component demonstrates fetching data from the server.</p>
<div class="sales-banner">SALE NOW ON!</div>

<p *ngIf="!car"><em>Loading...</em></p>

<div *ngIf="cars">
    <img src="https://placehold.it/250" />
    <h3>{{car.make}} <span>{{car.model}}</span></h3>
    <p class="old-price">was: {{car.preSalePrice}}</p>
    <p class="new-price">was: {{car.price}}</p>
</div>


<style>
    .sales-banner {
        background: red;
        color: white;
        padding: 15px;
        font-size: 20px;
    }

    .old-price{
        color:red;
    }

    .new-price{
        color: green;
    }
</style>