<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>
<div class="sales-banner">SALE NOW ON!</div>

<p *ngIf="!cars"><em>Loading...</em></p>

<table class='table' *ngIf="cars">
    <thead>
        <tr>
            <th>Make + Model</th>
            <th>Has Spare Wheel</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars">
            <td>
                <a [routerLink]="['/car-details', car.salesListingId]">
                    {{ car.carName }}
                </a>
            </td>
            <td>{{ car.hasSpareWheel }}</td>
        </tr>
    </tbody>
</table>


<style>
    .sales-banner{
        background:red;
        color:white;
        padding:15px;
        font-size:20px;
    }
</style>